{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Emploi du temps</h1>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Horaire</th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </tr>
            </thead>
            <tbody>
                {% for horaire in ["8h-10h", "10h-12h", "14h-16h", "16h-18h"] %}
                <tr>
                    <td>{{ horaire }}</td>
                    {% for jour in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi"] %}
                    <td>
                        {% for cours in emploi %}
                            {% if cours.jour == jour and cours.horaire == horaire %}
                                <div class="card">
                                    <div class="card-body p-2">
                                        <h6 class="card-title mb-1">{{ cours.matiere }}</h6>
                                        <p class="card-text mb-0">{{ cours.professeur }}</p>
                                        <p class="card-text"><small>{{ cours.salle }}</small></p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}